*.gradle
**/build/
**/local.properties
**/generated/
.gradle/
**/captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
keystore.jks
google-services.json
*.properties
**/*.ap_
**/*.dex
.navigation/
captures/
output-metadata.json